h1 {
	text-align: center;
	color: red;
	font-size: 32px;
	font-weight: bold;
}

body {
	background-color: #ffffff;
	font-family: Helvetica;
}

#menu {
	width: 800px;
	margin: 40px auto;
}

#menu ul {
	padding: 0;
	margin: 0;
}

#menu li {
	position: relative;
	float: left;
	width: 140px;
	text-align: center;
	list-style: none;
}

#menu li a {
	background-color: #ffffff;
	color: #000000;
	padding: 15px 20px;
	text-decoration: auto;
	display: block;
}

#menu li a:hover {
	background-color: #F58529;
	text-shadow: 0px 0px 1px #FFF;
}

#menu ul ul {
	position: absolute;
	top: 48px;
	visibility: hidden;
}

#menu ul li:hover ul {
	visibility: visible;
}

#menu ul ul:hover {
	box-shadow: 0px 20px 30px #7C7C7C;
}

#menu ul ul li a {
	background-color: #F58529;
}

#menu ul ul li a:hover {
	background-color: #F58529;
}
.tabella {
	border: 1px solid black;
	width: 100%;
	align-content: center;
}

th{
	font-weight: bold;
}

td{
	TEXT-ALIGN: center;
}
a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}
.box{
    display: none;
    width: 100%;
}
.addQuestion{
	width: 15px;
}
.removeQuestion{
	width: 15px;
}
.pagesN{
	display: inline;
	margin: 5px;
}
.exam-preview{
	width: 100px;
	height: 100px;
}
#intestazione-esame, #intestazione{
	text-align: center;
}
h3 {
	text-align: center;
	color: red;
	font-size: 18px;
	padding: 10px;
}
.date-appello{
	display: inline;
}
b{
	font-weight: bold;
}